*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /*Reset para rems -62.5 = 10px de 16px */
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;

}

/* Globales */
.contenedor{
    max-width: 120rem;
    margin: 0 auto;

}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.4rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.6rem;
}


/* Header */

.site-header.inicio{
    background: url(/img/portada.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;


}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.contenido-header h1{
    color: #ffffff;
    padding-bottom: 2rem;
}


header img{
    width: 10rem;
    height: 10rem;
 }

.barra{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    align-items: center;


}

/* Navegación */

.navegacion a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;

}

.navegacion a:hover{
    color: #4AC61F;

}

.navegacion a:last-of-type{
    margin: 0;
}

